*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; 
}

body, html {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255)), url(../images/grassLandscape.jpg);
    background-position: bottom;
    font-weight: 500;
    font-size: 110%;
    border-radius: 10px;
}

.navbar img {
    max-height: 100%;
}

.navbar-nav a:link, a:visited {
    font-weight: 500;
}
.navbar-nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.home-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    padding: 5%;
    border-radius: 10px;
}

a {
    color: black;
}

h3 {
    padding-top: 20px;
}

.survey-container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
}

.pokeModal {
        display: none; 
        position: fixed; 
        z-index: 1;
        left: 13%;
        top: 15%;
        width: 75%; 
        height: 75%; 
        overflow: auto; 
        background-image: url(../images/Pokedex.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

}

.pokeModal img {
    position: absolute;
    left: 42%;
    top: 30%;
    height: 30%;
    width: auto;
}   

.pokeModal a:link, a:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: absolute;
    top: 80%;
    left: 35%;
    font-size: 22px;
}

.home-container a {
    margin-top: 20px;
    font-size: 30px;
}